* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
#prova {
  background-color: brown;
  text-align: center;
  color: #fff;
}
body {
  font-family: 'Montserrat', sans-serif;
}
main {
  height: calc(100% - 80px);
  width: 100%;
}
footer {
  position: fixed;
  bottom:0;
  background-color: brown;
  height: 80px;
  width: 100%;
  z-index:4;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  padding: 25px 20px 20px 16px;
}
/*struttura*/
.main-wrapper {
  background-color: #141922;
  height: 100%;
  overflow-y: auto;
}

.footer-wrapper {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100vh;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
  height: 100vh;
}

.side-column {
  background-color: #000;
  height: 100%;
}

.main-column {
  width: 100%;
  height: calc(100% - 80px);
  background-color: #282828;
  overflow-y: auto;
}

.top-column {
  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0,0.7);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top:0;
  right: 0;
  z-index: 1;
}

.row-2 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #282828;
}

.bottom-column {
  height: 20%;;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
}
/*sidebar logo*/
.side-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 3;
}
.logo-column {
  width: 100%;
  height: 10%;
  align-items:center;
}
.top-logo {
  width: 50%;
  padding: 10px;
}
/*menu home*/
.menu-column {
  display:flex;
  align-items: flex-start;
  height: 15%;
}
.menu-home {
  list-style: none;
  color: #B3B3B3;
}

.sottotitolo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
}

.menu-home li:first-child {
  border-left: 3px solid #1db954;
  color: #fff;
  padding-left: 16px;
}

.icone {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.testo-icone {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

/*menu playlist*/
.playlist-column {
  height: 45%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-start;
}

.menu-secondario {
  height: 100%;
}
.titolo {
  font-size:20px;
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0 10px 16px;
}

.playlist {
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  color: #b3b3b3;
  overflow-y: auto;
}

.fa-plus {
  background-color: #b3b3b3;
  font-size:15px;
  color: #000;
  text-align: center;
  padding:7.5px;
}

.nome-play {
  font-size: 16px;
  font-weight: 300;
  padding-left: 16px;
  margin: 10px 0;
}

/*bottom*/
.fa-arrow-circle-down {
  background-color: inherit;
  color:#b3b3b3;
  width: 20px;
  height: 20px;
  font-size: 24px;
}

.install {
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 80%;
  height: 50%;
}

.riga-sopra {
  border-bottom: 2px solid #b3b3b3;
  padding-bottom: 10px;
}

.testo-install {
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
  padding: 10px;
}

.utente {
  padding-top: 10px;
}
.testo-utente {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}

.icona-utente {
  background-color: #b3b3b3;
  border-radius: 10px;
  width: 25px;
  height: 25px;
}

/*header-fixed*/
.upgrade {
  font-size: 16px;
  color: #fff;
  border: 2px solid #b3b3b3;
  padding: 10px 30px;
  border-radius: 20px;
}

/*prima riga album*/
.recenti {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.top-menu {
  padding-top:80px;
  padding-bottom: 20px;
}
.top-menu li {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}
.generi {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 500;
}

.generi li:first-child {
  border-bottom: 2px solid #1db954;
}

.album {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 20px;
}

.box-album {
  flex-basis: 100%;
  justify-content: flex-start;
  text-align: center;
}

.box-album img {
  width: 250px;
}

.titolo-album {
  font-weight: 500;
  color:#fff;
  font-size: 13px;
  padding: 0 30px;
}

.sotto {
  font-weight: 300;
  color: #b3b3b3;
  font-size: 12px;
}
/*seconda riga album*/
.sotto-h2 {
  font-weight: 300;
  color: #b3b3b3;
  font-size: 12px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.album-2 {
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 10px;
}

.album-2 img {
  width: 250px;
  flex-basis: 100%;
}
/*terza riga album*/
.round {
  border-radius: 50%;
}
 /*footer*/
 .play-album {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 30%;
 }

.footer-sx li {
  list-style: none;
  display: inline;
  align-items: center;
}
.img-player {
  padding-right: 10px;
  padding: 20px;
  width: 28%;
  align-items: center;
 }

h6 {
  font-size: 9px;
  font-weight: 500;
 }

.sotto-footer {
  font-weight: 300;
  font-size: 8px;
  color: #b3b3b3;
 }
.fa-heart, .fa-folder {
  color: #b3b3b3;
  width: 5%;
}
